@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --color-default:#004f83;
  --color-second:#3366ff;
  --color-white:#fff;
  --color-hover: #3366ff;
  --color-body:rgb(236, 237, 240);
  --color-light:#e0e0e0;
  --basic-transition-ms: 300ms;
  --fontstyle:font-family: 'Poppins', sans-serif;
  --btn-bg:#2f3136;
}
    canvas {
    display: block; 
}  



.wrapper {
    display: flex; 
    justify-content: space-between; 
    width: 90%; 
    margin: auto; 
}
.data1, .data2 { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 3px solid var(--color-default);
    border-radius: 10px; 
    width: 48%; 
    height: 600px; 
    margin: 20px 0;
    padding: 10px;flex-direction: column; 

}
.AllStats {
    position: relative;
    display: flex;
    flex-direction: column; 
    border: 3px solid var(--color-default);
    border-radius: 10px; 
    width: 90%; 
    max-height: 640px; 
    margin: auto; 
    padding-bottom: 40px;
    margin-top: 20px;
}

.dayBtn {
    display: flex;
    gap: 10px;
    margin: 10px 10px -10px 10px; 
}

.changeDbtn{
    color: #3366ff;
    padding: 8px;
    font-weight: bold;
    border: 3px solid #3366ff ;
    border-radius: 5px;
    transition: var(--basic-transition-ms);
}

.changeDbtn:hover{ 
    color: white;
    background-color: #3366ff;

}
.member-dash-text {
    display: flex; 
    color:var(--color-default);
    font-size: 25px;
    font-weight: 500;
    align-items: center; 
    justify-content: space-between; 
    width: 90%; 
    margin: auto; 
    padding-bottom: 10px;
}
.member-dash {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    border-bottom: 1px solid var(--color-default);
    border-radius: 10px; 
    background-color: var(--color-white);
    transition: var(--basic-transition-ms);
    width: 90%; 
    margin: auto; 
    padding-bottom: 10px;
}
.member {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    border-bottom: 1px solid var(--color-default);
    border-radius: 10px; 
    width: 90%; 
    margin: auto; 
    background-color: var(--color-white);
    transition: var(--basic-transition-ms);
    margin-bottom: 20px;
}
.tests {
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    border-radius: 10px; 
    width: 90%; 
    margin: auto; 
    transition: var(--basic-transition-ms);
    margin-bottom: 20px;
    gap: 1%;
}
.member-total{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    border-bottom: 1px solid var(--color-default);
    border-radius: 10px; 
    width: 90%; 
    margin: auto; 
    background-color: var(--color-white);
    transition: var(--basic-transition-ms);
    margin-bottom: 20px;
}
.member-text {
    font-weight: bold;
}
.icon {
    font-size: 2rem;
    cursor: pointer;
}
.additional-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.functionsdiv {
    display: flex;
    justify-content: flex-end;
    padding: 10px; 
    border-radius: 10px; 
    margin-top: -50px;
    gap: 10px;
    
}

.search-input {
    width: 400px;
    border-radius: 10px; 
    padding: 10px;
}
.revDiv {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10px 10px 10px; 
    border-bottom: 1px solid var(--color-default);
    background-color: #ebebeb;

}
.mainbtn{
    background-color: var(--btn-bg);
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    transition: var(--basic-transition-ms);
}

.mainbtn:hover{ 
    cursor: pointer;
    transition: var(--basic-transition-ms);
}
.delete-btn{
    background-color: var(--btn-bg);
    color: red;
    padding: 8px;
    font-weight: bold;
    border: 3px solid red;
    border-radius: 5px;
    margin-top: 10px;
}
.delete-btn-all{
    background-color: var(--btn-bg);
    color: red;
    padding: 8px;
    font-weight: bold;
    border: 3px solid red;
    border-radius: 5px;
}
.delete-btn:hover,.delete-btn-all:hover{ 
    color: white;
    background-color: red;
}
.export-btn{
    background-color: var(--btn-bg);
    color: var(--color-hover);
    padding: 8px;
    font-weight: bold;
    border: 3px solid var(--color-hover);
    border-radius: 5px;
}
.export-btn:hover{ 
    color: white;
    background-color: var(--color-hover);
}

.Dead {
    color: rgb(255, 0, 0);
}
.Frown{
    color:rgb(255, 165, 0)
}
.Neutral {
    color: rgb(165, 165, 15)
}
.Smile {
    color: rgb(0, 255, 0);
}
.Happy {
    color: rgb(0, 128, 0);
}