:root {
    --basic-transition-ms: 300ms;
    --color-default:#004f83;
    --main-color:#3366ff;
    --color-hover: #3366ff;
    --bg-color:#004f83;
    --fontstyle:'Poppins', sans-serif;
    --bg-light:#e0e0e0;
}

html, body {
    height: 100%;
}



.menu-items {
    display: flex;
}

.menu-items > div {
    margin: 0 10px;
    display: flex;
}

footer {
    text-align: center;
    padding: 20px;
    font-family: var(--fontstyle);
    font-size: 1.8rem;
    bottom: 0;
    background-color: var(--bg-color);
    color: white;
    transition: var(--basic-transition-ms);

}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-hover);
    transition: var(--basic-transition-ms);
    cursor: pointer;
}

