:root {
    --basic-transition-ms: 300ms;
    --color-default:#004f83;
    --main-color:#3366ff;
    --color-hover: #3366ff;
    --bg-color:#004f83;
    --fontstyle:'Poppins', sans-serif;
    --bg-light:#e0e0e0;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--fontstyle);
    background-color: var(--bg-light);
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.menu-items {
    display: flex;
}

.menu-items > div {
    margin: 0 10px;
    display: flex;
}

footer {
    text-align: center;
    padding: 10px;
    font-family: var(--fontstyle);
    font-size: 1.8rem;
    bottom: 0;
    background-color: var(--bg-color);
    color: white;
    transition: var(--basic-transition-ms);
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-hover);
    transition: var(--basic-transition-ms);
    cursor: pointer;
}

.burger-menu,
.navbar {
    background-color: var(--bg-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

/* PC */
@media only screen and (min-width:1024px) {
    .burger-menu {
        display: none !important;
    }

    .navbar {
        background-color: var(--bg-color);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
    }
}

/* Laptop */
@media only screen and (min-width:992px) and (max-width:1023px){
    .burger-menu {
        display: none !important;
    }

    .navbar {
        background-color: var(--bg-color);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
    }
}

/* Tab */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align icon and links to the left */
    }

    .burger-menu-links {
        display: none;
        flex-direction: column;
    }

    .burger-menu.show .burger-menu-links {
        display: flex;
    }

    .burger-menu a {
        color: white;
        text-decoration: none;
        margin: 10px 5px;
    }
}

/* Phone */
@media only screen and (max-width: 767px) {
    .navbar {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align icon and links to the left */
    }

    .burger-menu-links {
        display: none;
        flex-direction: column;
    }

    .burger-menu.show .burger-menu-links {
        display: flex;
    }

    .burger-menu a {
        color: white;
        text-decoration: none;
        margin: 10px 5px;
    }
}